*,
body,
html {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      color: $black;
}

ul {
      list-style: none;
}

input[type="text"],
input[type="submit"],
input[type="number"],
textarea {
      display: block;
      border: 1px solid transparent;
      width: 100%;
      padding: $base-padding * 1.7;
      margin-top: 5px;
      @include theme-shape();

      &:focus {
            outline: none;
            border: 1px solid rgba($black, 0.2);
      }
}

button,
input[type="submit"] {
      &:focus {
            outline: none;
      }

      background-color: none;
      border: none;
}

::placeholder {
      color: $black-gray;
      font-size: 1em;
}

textarea {
      resize: none;
}

.bg-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-clip: padding-box;
}

a {
      text-decoration: none;
}
