$base-margin: 1rem;
$base-padding: 0.5rem;

$base-width: 327px;

$screen-max-width: 1440px;
$screen-large: 1008px;
$screen-medium: 641px;
$screen-small: 640px;

$screen-1: 1060px;
$screen-2: 930px;
$screen-3: 730px;

$black: #0f172a;

$white: #faf9f7;

$grey: #eeeeee;

$gray: #d1d5db;

$black-gray: #b4b4b4;

$green: #7bae73;

$border-radius: 3px;
