$screen-max-width: 1440px;

$screen-large: 1134px;
$screen-medium: 892px;
$screen-small: 640px;

$border-radius: 5px;

/* Colors */

$bg-color: #e5e5e5;
$items-bg-color: #fffefb;
$red: #ff8484;
$green: #7bae73;

$text-color: #3f3f3f;
